
.logo {
  color: #e50914;
  font-size: 32px;
  font-weight: 700;
}

.logo a {
  color: #e50914;
  text-decoration: none;
  list-style: none;
}

.couching-header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 10;
  background-color: black;
  border-bottom: 1px solid #333;
}

.signin-btn {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.invisible-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(+20px);
  transition: opacity 0.3s ease, transform 0.2s ease;
}

/* Public Header styles */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 100;
  min-width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);

  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.login-form.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}


.login-input {
  padding: 12px;
  border: 1px solid #333;
  border-radius: 4px;
  background: #333;
  color: white;
  font-size: 14px;
}

.login-input:focus {
  outline: none;
  border-color: #e50914;
}

.login-btn {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.cancel-btn {
  background: transparent;
  color: #aaa;
  border: none;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
}

.error-message {
  color: #e50914;
  font-size: 12px;
  margin: 0;
}

/* Passwort-Vergessen-Button */
.forgot-password-btn {
  background: none;
  border: none;
  color: #b3b3b3; 
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 16px;
  transition: color 0.2s ease;
}

/* Private Header styles */

.couching-header.logged-in {
  position: fixed;
}

.logout-btn {
  background: transparent;
  color: white;
  border: 1px solid #e50914;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 20px; 
  flex-wrap: wrap;
}

.nav-link {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
  transition: color 0.3s;
}

/* If no search input is shown */
.search-btn {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
  transition: color 0.3s;
  background: none;
  border: none;
  cursor: pointer;
}

/* To start the search request */
.requestSender {
  background-color: #e50914; 
  color: #fff;
  border: none;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px 0 0 4px; 
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* Animation effect*/
  max-width: 0;
  opacity: 0;
  pointer-events: none;
}

.ActiveSender{
  opacity: 1;
  pointer-events: all;
  max-width: 236px;
}

.search-input {
  flex: 1;
  padding: 4px 10px;
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0; 
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  margin-left: 0.5rem;

  /* Animation effect*/
  max-width: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.ActiveSearchInput{
  opacity: 1;
  pointer-events: all;
  max-width: 236px;
}


/* Footer styles */
.couching-footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #757575;
  padding: 40px 50px;
  font-size: 14px;
  border-top: 1px solid #333;
}

.couching-footer a {
  color: #757575;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}

.footer-phone-link {
  color: #757575;
  text-decoration: none;
  margin-bottom: 30px;
  display: block;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 0 auto 30px;
}

@media (min-width: 768px) {
  .footer-links {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  border-top: 1px solid #333;
}

/* Header Avatar */
.header-avatar {
  width: 40px;          
  height: 40px;
  border-radius: 50%;   
  object-fit: cover;    
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;
}

.header-avatar:hover {
  border: 2px solid #fff; /* leichter Hover-Effekt */
}

/*===  Responsive Modes === */

 /* Btn to show navbar or not */
.MobileHeaderSET-Btn{
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  width: 36px;
  height: 26px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  margin-left: 3rem;
}

.MobileHeaderSET-Btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.4s ease;
}

/* Obere Linie */
.MobileHeaderSET-Btn span:nth-child(1) {
  top: 0;
}

/* Mittlere Linie */
.MobileHeaderSET-Btn span:nth-child(2) {
  top: 11px;
}

/* Untere Linie */
.MobileHeaderSET-Btn span:nth-child(3) {
  bottom: 0;
}


/* iPhone 11, iPhone X, etc. (375px – 390px) */
@media (max-width: 767px) {

.MobileHeaderSET-Btn{
    opacity: 1;
    pointer-events: auto;
}

/* If the menu is open transform button to X */
.MobileHeaderSET-Btn.mobile-active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
  background-color: #e50914; 
}

.MobileHeaderSET-Btn.mobile-active span:nth-child(2) {
  opacity: 0; 
}

.MobileHeaderSET-Btn.mobile-active span:nth-child(3) {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
  background-color: #e50914;
}

/* Header settings */
.mobile-active{
    max-height: 40rem;
}

.mobile-deactive{
    max-height: 9rem;
}


.couching-header {
    padding: 20px;
    flex-direction: column;
    gap: 16px;
    transition: all 0.5s;
  }

/* Navbar */
  .mobile-nav-active {
    opacity: 1;
}

.mobile-nav-deactive {
    opacity: 0;
    pointer-events: none;
}

.main-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    transition: all  0.3s;
    text-align: center;
}

.nav-link,
.search-btn,
.logout-btn {
    width: 100%;
    height: 4.5rem;
    padding: 5%;
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.08);
}

  /* Avatar direkt unter dem Logo platzieren */
.header-avatar {
    margin-top: 0.9rem;
    margin-left: 2rem;
    transform: scale(1.3);
}

  /* SearchButton: Button + Input als Block */
.mobile-search-disabled{
    display: none;
}

.requestSender,
.search-input {
    width: 100%;
    max-width: none !important;
    pointer-events: auto !important;
    border-radius: 8px;
    padding: 5%;
    font-size: 1.5rem
}

.requestSender {
    margin-bottom: 8px;
    border-radius: 8px 8px 0 0;
}

.search-input {
    border-radius: 0 0 8px 8px;
    background-color: #fff;
    color: #000;
    margin-bottom: 12px;
    margin-left: 0rem;
}

/* Header if user is not logged in MOBILversion */

.login-form{
    margin-top: 4rem;
    width: 100%;
    right: 0;
    background-color: #000;
    border-bottom: 0.1rem solid #FFF;
}

.login-input {
  height: 4rem;
  font-size: 2rem;
}

.login-btn,
.signin-btn {
  height: 3rem;
  font-size: 1.5rem;
}

.cancel-btn,
.forgot-password-btn{
  height: 3rem;
  font-size: 1.5rem;
  background-color: #252222;
}

.error-message{
  font-size: 2rem;
}

}

/* HoverEffects for bigger screens */
@media (min-width: 1280px) {

.login-btn:hover {
  background-color: #f40612;
}

.cancel-btn:hover {
  color: white;
}

.forgot-password-btn:hover {
  color: #fff;
}

.logout-btn:hover {
  background: #e50914;
}

.nav-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.search-btn:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.requestSender:hover {
  background-color: #f40612;
  transform: scale(1.05);
}

.couching-footer a:hover {
  text-decoration: underline;
}

.footer-phone-link:hover {
  text-decoration: underline;
}

}